body {
    margin: 0;
    background-color: rgb(254, 188, 162);
}

.calculator {
    background-color: rgb(0, 85, 85);
    box-shadow: 8px 7px 5px rgb(0, 28, 37);
    width: 30vw;
    height: 90vh;
    margin: 2vh auto;
    padding: 10px;
}

.main {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 27vw;
    height: 67vh;
}

.screen {
    margin: 1.7rem auto;
    background-color: rgb(255, 240, 240);
    height: 13vh;
    width: 25vw;
    border: 0.13rem solid black;
    color: rgb(19, 0, 83);
    font-size: 2.2rem;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    text-align: right;
    padding: 10px;
}

button {
    width: 6vw;
    height: 11vh;
    color: rgb(19, 0, 83);
    font-size: 2.2rem;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    transition-duration: 0.4s;
    border: 0.13rem solid black;
}

button:hover {
    background-color: #f2ff92;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width:1500px) {
    button {
        height: 70%;
        width: 70%;
    }

    .screen {
        width: 30vw;
    }

    .calculator {
        width: 35vw;
    }

    .main {
        grid-gap: 1px;
    }
}